 
 {{#section 'js'}}
<script>
    
    $('#content').on('submit', function(event) {
        event.preventDefault();
        if ((validate()) ) {
            if(validatePrice()) {
                $('#content').off('submit').submit();
            } else {
                alert('Không thành công! Giá không hợp lệ!')
            }
        } else {
            alert('Không thành công! Vui lòng kiểm tra nhập đầy đủ thông tin');
        }
    })

    function validate() {
        var price = document.getElementById("editPriceP").value;
        var name = document.getElementById("editNameP").value;
        if (!name || !price) {
            return false;
        }
        return true;
    }
    function validatePrice() {
        var price = document.getElementById("editPriceP").value;
        for (var i = 0; i < price.length; i++) {
        if (price.charCodeAt(i) < 48 || price.charCodeAt(i) > 58) {
            return false;
        } 
        }
        if (price <=0 ) {
            return false;
        }
    return true;
    }
    var select = document.getElementsByClassName('form-control')[1].id;
    var slt = document.getElementById(select);
    slt.selectedIndex = select;
</script>
{{/section}}
 
 <div class="container">
        <div class="grid">
            <div class="grid__row app-content">
                <div class="grid__column_1">
                    <nav class="category">
                        <a href="/admin" style="text-decoration: none;"><h3 class="trademark">Quản lý đơn hàng</h3></a>
                        <ul class="list-trademark">
                            <li class="name-trademark"><a href="/admin/?day=today">Trong ngày hôm nay</a></li>
                            <li class="name-trademark"><a href="/admin/?day=7day">Trong 7 ngày vừa qua</a></li>
                            <li class="name-trademark"><a href="/admin/?day=all">Cũ hơn</a></li>
                        </ul>
                    </nav>
                    <nav class="category">
                        <a href="/admin/editProduct" style="text-decoration: none;"><h3 class="trademark">Quản lý sản phẩm</h3></a>
                        <ul class="list-trademark">  
                            <li class="name-trademark"><a href="/admin/editProduct">Danh sách sản phẩm</a></li>
                        </ul>
                    </nav>

                </div>
     
                    <div class="container">
    {{#each this.categories}}
        <form id="content" method="post">
            <div class="container_content">
                <div class="section_header">
                    <div class="container_section_header">
                        <h2 class="section_title">Thông tin mã sản phẩm {{productID}}</h2>
                    </div>
                </div>
                <a href="/admin/editProduct/{{productID}}/imageEdit" style="text-decoration: none">
                                <h2 style="color: yellow">Xem hình ảnh sản phẩm</h2>
                </a>
                <div class="add_product">
                    <div class="col col1">
                        <div class="form-group">
                            <label class="product-info" style="color: yellow;">Tên sản phẩm :</label>
                            <input type="text" class="form-control" id="editNameP" name="editNameP" value="{{productName}}">
                        </div>
                        <div class="form-group note-shipping">
                        <label class="title-info" style="color: yellow;">Thương hiệu sản phẩm</label>
                                <select class="form-control" id="{{checked_brand}}" name="editBrandP" style="background-color:  #1d1d1d; height : 30px" name="stt">
                                    <option value="Nike" id="0" name="editBrandP">Nike</option>
                                    <option value="Adidas" id="1" name="editBrandP">Adidas</option>
                                    <option value="Mizuno" id="2" name="editBrandP">Mizuno</option>
                                    <option value="Puma" id="3" name="editBrandP">Puma</option>
                                    <option value="Kamito" id="4" name="editBrandP">Kamito</option>
                                </select>
                        </div>
                        <div class="form-group">
                            <label for="" class="product-info" style="color: yellow;">Miêu tả về sản phẩm :</label>
                            <textarea type="text" class="form-control" id="editDescP" name="editDescP">{{productDescription}}</textarea>
                        </div>
                        <div class="form-group">
                            <label for="" class="product-info" style="color: yellow;">Giá sản phẩm :</label>
                            <input type="text" class="form-control" id="editPriceP" name ="editPriceP" value="{{productPrice}}">
                        </div>
                        <div class="form-group note-shipping">
                        <label class="title-info" style="color: yellow;">Loại đinh :</label>
                                <select class="form-control" id="editStyleP" name="editStyleP" style="background-color:  #1d1d1d; height : 30px" name="stt">
                                    <option value="TF, Cỏ nhân tạo" id="editStyleP" name="editStyleP">TF, Cỏ nhân tạo</option>
                                    <option value="FG, Cỏ tự nhiên" id="editStyleP" name="editStyleP">FG, Cỏ tự nhiên</option>
                                </select>
                        
                        </div>
                        <div class="form-group note-shipping">
                            <label class="title-info" style="color: yellow;">Đã bán : {{quantitySold}} sản phẩm</label>
                        </div>
                    <div class="list_orders" style="width:300px">
                        <table class="table_orders">
                            <thead>
                                <tr class="title-row">
                                    <th class="col1" style="color:yellow">Size</th>
                                    <th class="col6" style="color:yellow">Số lượng trong kho</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each list_size}}
                                <tr class="order_detail">
                                    <td class="">
                                        <span>{{size}}</span>
                                    </td>
                                    <td class="">
                                        <input class="form-size-control" type="number" min="0" max="100" name="size{{size}}" value={{quantity}}>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                    </div>
                </div>

                <div class="button_add">
                    <button class="btn-add">Cập nhật</button>
                </div>
            </div>
        </form>
    {{/each}}
</div>
            </div>
        </div>
    </div>

