    <div class="container">
        <div class="grid">
            <div class="grid__row app-content">
                <div class="grid__column_1">
                    <nav class="category">
                        <a href="/admin" style="text-decoration: none;"><h3 class="trademark">Quản lý đơn hàng</h3></a>
                        <ul class="list-trademark">
                            <li class="name-trademark"><a href="/admin/?day=today">Trong ngày hôm nay</a></li>
                            <li class="name-trademark"><a href="/admin/?day=7day">Trong 7 ngày vừa qua</a></li>
                            <li class="name-trademark"><a href="/admin/?day=all">Cũ hơn</a></li>
                        </ul>
                    </nav>
                    <nav class="category">
                        <a href="/admin/editProduct" style="text-decoration: none;"><h3 class="trademark">Quản lý sản phẩm</h3></a>
                        <ul class="list-trademark">  
                            <li class="name-trademark"><a href="/admin/editProduct">Danh sách sản phẩm</a></li>
                        </ul>
                    </nav>

                </div>
     
                    <div class="grid__column_2">
            <div class="section_header">
                <div class="container_section_header">
                    <h2 class="section_title">Danh sách sản phẩm <br> 
                    {{#if adminSearchFromOrder}}

                    {{else}}
                    <a href="/admin/addNewProd" style="text-decoration: none; color : red">Thêm sản phẩm mới</a></h2>
                    {{/if}}
                </div>
            </div>
            
            <div class="grid__column_10">
                    {{#if adminSearchFromOrder}}
                        {{#each this.categories}}
                    <div class="grid__column">
                                <div class="home-product-item">
                                <div class="home-product-item-img" style="background-image: url(/img/{{productID}}/{{main}})"></div>
                                <a href="/admin/vieworder/{{orderID}}/product/{{productID}}" style="text-decoration:none"><h2 class="home-product-item-name">Mã sản phẩm : {{productID}} <br>{{productName}}</h2></a>
                                <div class="home-product-item-price">{{format_number productPrice}}đ</div>>
                                
                                </div>
                            </div> 
                    {{/each}}
                    {{else}}
                    {{#each this.categories}}
                    <div class="grid__column">
                                <div class="home-product-item">
                                <div class="home-product-item-img" style="background-image: url(/img/{{productID}}/{{main}})"></div>
                                {{!-- <a href="/admin/editProduct/{{productID}}/imageEdit" class="btn-image">
                                    <div>chỉnh sửa ảnh sản phẩm</div>
                                </a> --}} 
                                <a href="/admin/editProduct/{{productID}}" style="text-decoration:none"><h2 class="home-product-item-name">Mã sản phẩm : {{productID}} <br>{{productName}}</h2></a>
                                {{!-- <div class="home-product-item-price">{{format_number productPrice}}đ</div>> --}}
                                <a href="/admin/delproduct/{{productID}}">
                                    <button class="edit-button-2" onclick="return confirm('Bạn có chắc muốn xóa sản phẩm này?')"><i class="ti-trash"></i> Xoá</button>
                                </a>
                                </div>
                            </div> 
                    {{/each}}  
                    {{/if}}     
                                                  
            </div>
            
            
            </div>
            </div>
            <nav class="nav__pagination">
                    <ul class="pagination">
                            {{#each this.page_number}} 
                                {{#if active}}
                                <li class="page_item" style="background: #ffe11b;">
                                    <a class="page_link" href="/admin/editProduct?page={{value}}">{{value}}</a>
                                </li>
                                {{else}}
                                <li class="page_item">
                                    <a class="page_link" href="/admin/editProduct?page={{value}}">{{value}}</a>
                                </li>
                                {{/if}}
                            {{/each}}
                    </ul>
                </nav>      
        </div>
    </div>
    
    
    
    
