  {{#section 'js'}}
  <script>
      function getPaymentInfo() {
        document.getElementById('header-info').style.display=" block";
        document.getElementById('container-shipping').style.display=" block";
        document.getElementById('button-payment').style.display=" block";
        document.getElementById('button-showinfo').style.display=" none";
    }

    $('#form-Payment').on('submit', function(event) {
        event.preventDefault();
        if (validateOrder()) {
            if (!validatePhone()) {
                alert('Không thành công! Số điện thoại không lợp lệ!');
            } else if (!validateName()){
                alert('Không thành công! Tên không hợp lệ!');
            } else if (!validateAdress()) {
                alert('Không thành công! Địa chỉ không hợp lệ!');
            } else {
                $('#form-Payment').off('submit').submit();
                alert('Gửi đơn hàng thành công!');
                
            }
        } else {
            alert('Không thành công! Vui lòng kiểm tra nhập đầy đủ thông tin');
        }
    })
</script>
{{/section}}

<div class="container">
            <div id="content">
                <div class="container_content">
                    {{#if isEmptyCart}}
                        <div class="section_header">
                            <div class="container_section_header">
                                <h2 class="section_title" >Giỏ hàng trống, mời bạn bấm vào <a href="/" style="text-decoration: none">đây</a> để mua hàng!</h2>
                            </div>
                        </div>
                    {{else}}
                    <div class="section_header">
                        <div class="container_section_header">
                            <h2 class="section_title">Thông tin đặt hàng</h2>
                        </div>
                    </div>

                    <div class="list_orders">
                        <table class="table_orders">
                            <thead>
                                <tr class="title-row">
                                    <th class="col1">Sản phẩm</th>
                                    <th class="col2">
                                        <div class="title_show_mobile">Sản phẩm</div>
                                    </th>
                                    <th class="col3">Giá</th>
                                    <th class="col4">Số lượng</th>
                                    <th class="col5">Tổng tiền</th>
                                    <th class="col6"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each this.categories}}
                                <tr class="order_detail">
                                    <td class="col1"><a class="image" href=""><img style="width:88px" src="/img/{{productID}}/{{main}}" alt=""></a></td>
                                    <td class="describe_product col2">
                                        <a href="/product/view/{{productID}}">{{productName}}</a>
                                        <dl class="size_product">
                                            <dt style="color: #b1b1b1">Size:</dt>
                                            <dd style="margin:0 0">{{size}}</dd>
                                        </dl>
                                    </td>
                                    <td class="price_product col3">
                                        <span>{{format_number productPrice}}đ</span>
                                    </td>
                                    <td class="col4">
                                        {{quantity}}
                                    </td>
                                    <td class="price_total col5">
                                        <div class="cl--primary" style="color:#ffe11b">{{format_number total}}đ</div>
                                    </td>
                                    
                                    <td class="recycle col6">
                                        <a href="/cart/delete?id={{productID}}&size={{size}}">
                                            <button class="btn btn-secondary" type="button" id="deleteProduct" onclick="return confirm('Xóa sản phẩm này khỏi giỏ hàng?')">
                                                <i class="ti-trash"></i><span>Xoá</span>
                                            </button>
                                        </a>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>

                    <div class="shop-total">
                        <table>
                            <tbody>
                                <tr>
                                    <td>Tổng cộng: </td>
                                    <td style="color: yellow;">{{format_number sum}}đ</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="shop-back" id="button-showinfo">
                        {{#if isOrder}}
                        <button class="btn btn-secondary" style="background-color: white;" onclick="window.location.href='/'">Tiếp tục mua hàng</button>
                        <button class="btn btn-secondary" onclick="getPaymentInfo()"><i class="ti-shopping-cart"></i> Đặt hàng</button>
                        {{else}}
                            <h2 style="font-size: 2rem; color:red">Bạn chỉ có thể tạo tối đa 3 đơn 1 ngày</h2>
                        {{/if}}
                    </div>

                    <div class="section_header" id="header-info" style="display: none">
                        <div class="container_section_header">
                            <h2 class="section_title">Thông tin gửi hàng</h2>
                        </div>
                    </div>

                    <div class="info-shipping" id="container-shipping" style="display: none">
                        <form class="col col1" method="POST" action="/cart/payment" id="form-Payment">
                            <div class="form-group">
                                <label class="title-info">Họ tên
                                    <span class="required">*</span>
                                </label>
                                <input class="form-control" id="name" type="text" name="name" value="">
                            </div>
                            <div class="form-group">
                                <label class="title-info">Địa chỉ
                                    <span class="required">*</span>
                                </label>
                                <input class="form-control" id="address" type="text" name="address">
                            </div>
                                <div class="form-group">
                                    <label class="title-info">Số điện thoại
                                        <span class="required">*</span>
                                    </label>
                                    <input class="form-control" id="phone" type="text" name="phone">
                                </div>
                                <div class="form-group note-shipping">
                                    <label class="title-info">Ghi chú về đơn hàng</label>
                                    <input class="form-control" id="note" type="text" name="note"></input>
                                </div>

                                 <div class="shop-back" id="button-payment" style="display: none" >
                                    <button class="btn btn-secondary" type="submit"><i class="ti-shopping-cart"></i> Gửi đơn hàng</button>
                                </div>
                        </form>
                    </div>

                   {{/if}}
                </div>
            </div>
       </div>