  {{#section 'js'}}
  <script>
  let slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
}
</script>
{{/section}}
  
       <div class="slideshow-container">

        <!-- Full-width images with number and caption text -->
        <div class="mySlides fade">
            <a href="/search?q=Puma">
          <img src="/img/slider1.jpg" style="width:100%">
            </a>
        </div>
      
        <div class="mySlides fade">
            <a href="/search?q=Nike">
          <img src="/img/slider2.jpg" style="width:100%">
            </a>
        </div>
      
        <div class="mySlides fade">
            <a href="/search?q=Adidas">
          <img src="/img/slider4.jpg" style="width:100%">
            </a>
        </div>
      
        <!-- Next and previous buttons -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
      </div>
      <br>
      
      <!-- The dots/circles -->
      <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
      </div>
       
       <div class="container" style="padding-top: 20px;">
            <div class="grid">
                <div class="grid__row app-content">
                    <div class="grid__column_1">
                        <nav class="category">
                          <div class="trademark">
                                Thương hiệu
                          </div>
                            <ul class="list-trademark">
                                {{#each this.brand}}
                                <li class="name-trademark"><a href="/search?q={{productBrand}}">{{productBrand}} ({{count}})</a></li>                 
                                {{/each}}
                            </ul>
                        </nav>                       
                        <nav class="category">
                            <div class="trademark">
                                Loại đinh
                          </div>
                            <ul class="list-trademark">
                                <li class="name-trademark"><a href="/searchbystyle?loaidinh=Cỏ+nhân+tạo">Sân cỏ nhân tạo</a></li>
                                <li class="name-trademark"><a href="/searchbystyle?loaidinh=Cỏ+tự+nhiên">Sân cỏ tự nhiên</a></li>
                            </ul>
                        </nav>

                        <nav class="category">
                            <div class="trademark">
                                Lọc sản phẩm
                          </div>
                            <ul class="list-trademark">
                                {{#if searchbystyle}}
                                <li class="name-trademark"><a href="/sortbyprice?loaidinh={{searchName}}">Sắp xếp theo giá tăng dần</a></li>
                                <li class="name-trademark"><a href="/sortbypricedesc?loaidinh={{searchName}}">Sắp xếp theo giá giảm dần</a></li>
                                <li class="name-trademark"><a href="/mostsale?loaidinh={{searchName}}">Sắp xếp theo bán chạy nhất</a></li>
                                {{else}}
                                <li class="name-trademark"><a href="/sortbyprice?qr={{searchName}}">Sắp xếp theo giá tăng dần</a></li>
                                <li class="name-trademark"><a href="/sortbypricedesc?qr={{searchName}}">Sắp xếp theo giá giảm dần</a></li>
                                <li class="name-trademark"><a href="/mostsale?qr={{searchName}}">Sắp xếp theo bán chạy nhất</a></li>
                                {{/if}}
                            </ul>
                        </nav>
                    </div>

                    <div class="grid__column_2">
                        <div class="grid__row  grid__full-width">
                            <h1 class="heading-product">Danh sách sản phẩm</h1>
                        </div>
                        <div class="grid__column_10" id="products">   
                          {{#each this.categories}}              
                            <div class="grid__column">
                                <div class="home-product-item">
                                    <div class="home-product-item-img" style="background-image: url(/img/{{productID}}/main.jpg)"></div>
                                <a href="product/view/{{productID}}" style="text-decoration:none"><h2 class="home-product-item-name">{{productName}}</h2></a>
                                <div class="home-product-item-price">{{format_number productPrice}}đ</div>>
                                </div>
                            </div>  
                          {{/each}}
                    </div>
                    </div>  
                </div>
                <nav class="nav__pagination">
                    <ul class="pagination">
                        <li class="page_item btn_pre">
                            <a class="page_link" href="">
                                <i class="ti-angle-left"></i>
                            </a>
                        </li>
                        <li class="page_item">
                            <a class="page_link" href="">1</a>
                        </li>
                        <li class="page_item">
                            <a class="page_link" href="">2</a>
                        </li>
                        <li class="page_item">
                            <a class="page_link" href="">3</a>
                        </li>
                        <li class="page_item btn_next">
                            <a class="page_link">
                                <i class="ti-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                </nav>   
            </div>
</div>