  {{#section 'js'}}
  <script>
let slideIndex = 0;
showSlides();

function showSlides() {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("dot");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}    
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
  setTimeout(showSlides, 2000); // Change image every 2 seconds
}
</script>
{{/section}}
  
    <div class="slideshow-container" style="padding-top: 30px;">

    <div class="mySlides fade">
      <img src="/img/brand_banner_3.webp" style="width:100%">
      <div class="text">Giày bóng đá Puma</div>
    </div>

    <div class="mySlides fade">
      <img src="/img/brand_banner_4.webp" style="width:100%">
      <div class="text">Giày bóng đá Mizuno</div>
    </div>

    <div class="mySlides fade">
      <img src="/img/slideshow_2.webp" style="width:100%">
      <div class="text">Giày bóng đá Adidas</div>
    </div>
    <div class="mySlides fade">
      <img src="/img/slideshow_3.webp" style="width:100%">
      <div class="text">Giày bóng đá Nike</div>
    </div>

    </div>
    <br>

    <div style="text-align:center">
  <span class="dot" onclick="showSlides(0)"></span>
  <span class="dot" onclick="showSlides(1)"></span>
  <span class="dot" onclick="showSlides(2)"></span>
  <span class="dot" onclick="showSlides(3)"></span>
</div>
       
       <div class="container" style="padding-top: 20px;">
            <div class="grid">
                <div class="grid__row app-content">
                    <div class="grid__column_1">
                        <nav class="category">
                          <div class="trademark">
                                Thương hiệu
                          </div>
                            <ul class="list-trademark">
                              {{#if home}}
                                        <li class="name-trademark"><a href="/thuong-hieu/Nike">Nike</a></li>
                                        <li class="name-trademark"><a href="/thuong-hieu/Adidas">Adidas</a></li>
                                        <li class="name-trademark"><a href="/thuong-hieu/Puma">Puma</a></li>
                                        <li class="name-trademark"><a href="/thuong-hieu/Mizuno">Mizuno</a></li>
                                        <li class="name-trademark"><a href="/thuong-hieu/Kamito">Kamito</a></li> 
                              {{else}}
                              {{#each list_brand}}
                                    {{#if active}}
                                        <li class="name-trademark"><a style="color: #ffe11b;" href="/thuong-hieu/{{value}}?type={{type}}&page=1">{{value}}</a></li>
                                    {{else}}
                                        <li class="name-trademark"><a href="/thuong-hieu/{{value}}?type={{type}}&page=1">{{value}}</a></li>
                                    {{/if}}
                                {{/each}}
                              {{/if}}                        
                            </ul>
                        </nav>                       
                        <nav class="category">
                            <div class="trademark">
                                Loại đinh
                          </div>
                            <ul class="list-trademark">
                              {{#if home}}                                                              
                                        <li class="name-trademark"><a href="/thuong-hieu/all?loaidinh=cỏ tự nhiên">Sân cỏ tự nhiên</a></li>
                                          <li class="name-trademark"><a href="/thuong-hieu/all?loaidinh=cỏ nhân tạo">Sân cỏ nhân tạo</a></li>                                
                              {{else}}
                              {{#each list_style}}
                                    {{#if active}}
                                        <li class="name-trademark"><a style="color: #ffe11b;" href="/thuong-hieu/{{brand}}?loaidinh={{value}}&type={{type}}&page=1">Sân {{value}}</a></li>
                                    {{else}}
                                        <li class="name-trademark"><a href="/thuong-hieu/{{brand}}?loaidinh={{value}}&type={{type}}&page=1">Sân {{value}}</a></li>
                                    {{/if}}
                                {{/each}}
                                {{/if}}
                                {{!-- <li class="name-trademark"><a href="/search?q={{searchName}}&loaidinh=Cỏ nhân tạo&type={{type}}&page=1">Sân cỏ nhân tạo</a></li>
                                <li class="name-trademark"><a href="/search?q={{searchName}}&loaidinh=Cỏ tự nhiêntype={{type}}&page=1">Sân cỏ tự nhiên</a></li> --}}
                            </ul>
                        </nav>

                        <nav class="category">
                            <div class="trademark">
                                 Sắp xếp sản phẩm
                          </div>
                            <ul class="list-trademark">
                                
                                <li class="name-trademark"><a href="/search?q={{searchName}}&type=asc&page=1">Sắp xếp theo giá tăng dần</a></li>
                                <li class="name-trademark"><a href="/search?q={{searchName}}&type=desc&page=1">Sắp xếp theo giá giảm dần</a></li>
                                <li class="name-trademark"><a href="/search?q={{searchName}}&type=mostsale&page=1">Sắp xếp theo bán chạy nhất</a></li>
                            </ul>
                        </nav>
                    </div>

                    <div class="grid__column_2">
                        <div class="grid__row  grid__full-width">
                            <h1 class="heading-product">Danh sách sản phẩm</h1>
                        </div>
                        <div class="grid__column_10" id="products">   
                          {{#each this.categories}}              
                            <div class="grid__column">
                                <div class="home-product-item">
                                    <div class="home-product-item-img" style="background-image: url(/img/{{productID}}/main.jpg)"></div>
                                <a href="/product/view/{{productID}}" style="text-decoration:none"><h2 class="home-product-item-name">{{productName}}</h2></a>
                                <div class="home-product-item-price">{{format_number productPrice}}đ</div>>
                                </div>
                            </div>  
                          {{/each}}
                    </div>
                    </div>  
                </div>
                <nav class="nav__pagination">
                    <ul class="pagination">
                        
                        {{#if home}}
                            {{#each this.page_number}}
                              {{#if active}}
                              <li class="page_item" style="background: #ffe11b;">
                                  <a class="page_link" href="/?page={{value}}">{{value}}</a>
                              </li>
                              {{else}}
                              <li class="page_item">
                                  <a class="page_link" href="/?page={{value}}">{{value}}</a>
                              </li>
                              {{/if}}
                            {{/each}}

                        {{else}}
                            {{#each this.page_number}}
                              {{#if active}}
                              <li class="page_item" style="background: #ffe11b;">
                                  <a class="page_link" href="/thuong-hieu/{{brand}}?loaidinh={{loaidinh}}&type={{type}}&page={{value}}">{{value}}</a>
                              </li>
                              {{else}}
                              <li class="page_item">
                                  <a class="page_link" href="/thuong-hieu/{{brand}}?loaidinh={{loaidinh}}&type={{type}}&page={{value}}">{{value}}</a>
                              </li>
                              {{/if}}
                            {{/each}}
                        {{/if}}
                        
                    </ul>
                </nav>   
            </div>
</div>