<section class="body_product">
        <div class="container">
            <div class="title"><h3>Danh sách sản phẩm</h3></div>
            <form class="d-flex">
                <select class="my-3" name="optionsearch" id="myselected" onchange="window.location.href = this.value">
                    <option selected = "selected" value="">Mặc định</option>
                    <option value="/mostsale?qr={{searchName}}">Bán chạy nhất</option>
                    <option value="/sortbyprice?qr={{searchName}}">Sắp xếp giá tăng dần</option>
                    <option value="/sortbypricedesc?qr={{searchName}}">Sắp xếp giá giảm dần</option>
                </select>
            </form>
            <div class="show_product">
                {{#each this.categories}}
                <div class="card">
                    <div class="items">
                        <div class="image">
                            <img src="/img/{{productID}}/view1.webp" alt="">
                        </div>
                        <div class="text">
                            <h3>{{productName}} </h3>
                            <p>{{productPrice}} đ</p>
                        </div>
                        <div class="color">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                       <div class="button">
                        <a href="/product/view/{{productID}}">Xem chi tiết</a>
                       </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </section>