 <div class="container" style="padding-top: 20px;">
            <div class="grid">
                <div class="grid__row app-content">
                    <div class="grid__column_1">
                        <nav class="category">
                          <div class="trademark">
                                Thương hiệu
                          </div>
                            <ul class="list-trademark">
                                <li class="name-trademark"><a href="/search?q=Nike&loaidinh={{loaidinh}}&type={{type}}&page=1">Nike</a></li>
                                <li class="name-trademark"><a href="/search?q=Adidas&loaidinh={{loaidinh}}&type={{type}}&page=1">Adidas</a></li>
                                <li class="name-trademark"><a href="/search?q=Puma&loaidinh={{loaidinh}}&type={{type}}&page=1">Puma</a></li>
                                <li class="name-trademark"><a href="/search?q=Mizuno&loaidinh={{loaidinh}}&type={{type}}&page=1">Mizuno</a></li>
                            </ul>
                        </nav>                       
                        <nav class="category">
                            <div class="trademark">
                                Loại đinh
                          </div>
                            <ul class="list-trademark">
                                <li class="name-trademark"><a href="/search?q={{searchName}}&loaidinh=Cỏ nhân tạo&type={{type}}&page=1">Sân cỏ nhân tạo</a></li>
                                <li class="name-trademark"><a href="/search?q={{searchName}}&loaidinh=Cỏ nhân tạo&type={{type}}&page=1">Sân cỏ tự nhiên</a></li>
                            </ul>
                        </nav>

                        <nav class="category">
                            <div class="trademark">
                                Sắp xếp sản phẩm
                          </div>
                            <ul class="list-trademark">
                               
                                <li class="name-trademark"><a href="/search?q={{searchName}}&loaidinh={{loaidinh}}&type=asc&page=1">Sắp xếp theo giá tăng dần</a></li>
                                <li class="name-trademark"><a href="/search?q={{searchName}}&loaidinh={{loaidinh}}&type=desc&page=1">Sắp xếp theo giá giảm dần</a></li>
                                <li class="name-trademark"><a href="/search?q={{searchName}}&loaidinh={{loaidinh}}&type=mostsale&page=1">Sắp xếp theo bán chạy nhất</a></li>
                                
                            </ul>
                        </nav>
                    </div>

                    <div class="grid__column_2">
                        <div class="grid__row  grid__full-width">
                            <h1 class="heading-product">Danh sách sản phẩm</h1>
                        </div>
                        <div class="grid__column_10">   
                          {{#each this.categories}}              
                            <div class="grid__column">
                                <div class="home-product-item">
                                <div class="home-product-item-img" style="background-image: url(/img/{{productID}}/main.jpg)"></div>
                                <a href="/product/view/{{productID}}" style="text-decoration:none"><h2 class="home-product-item-name">{{productName}}</h2></a>
                                <div class="home-product-item-price">{{format_number productPrice}}đ</div>>
                                </div>
                            </div>  
                          {{/each}}
                    </div>
                    </div>  
                </div>   
                <nav class="nav__pagination">
                    <ul class="pagination">
                        
                        {{#if home}}
                            {{#each this.page_number}}
                                {{#if active}}
                                <li class="page_item" style="background: #ffe11b;">
                                    <a class="page_link" href="/?page={{value}}">{{value}}</a>
                                </li>
                                {{else}}
                                <li class="page_item">
                                    <a class="page_link" href="/?page={{value}}">{{value}}</a>
                                </li>
                                {{/if}}
                            {{/each}}
                        {{else}}
                            {{#each this.page_number}} 
                                {{#if active}}
                                <li class="page_item" style="background: #ffe11b;">
                                    <a class="page_link" href="/search?q={{searchName}}&loaidinh={{loaidinh}}&type={{type}}&page={{value}}">{{value}}</a>
                                </li>
                                {{else}}
                                <li class="page_item">
                                    <a class="page_link" href="/search?q={{searchName}}&loaidinh={{loaidinh}}&type={{type}}&page={{value}}">{{value}}</a>
                                </li>
                                {{/if}}
                            {{/each}}
                        {{/if}}
                        
                    </ul>
                </nav>
            </div>
</div>