<div class="container">
            <div class="grid">
                <div class="grid__row app-content">
                    <div class="grid__column">
                        <nav class="category">
                            <h3 class="trademark">Thương hiệu</h3>
                            <ul class="list-trademark">
                                <li class="name-trademark"><a href="/search?q=Nike">Nike</a></li>
                                <li class="name-trademark"><a href="/search?q=Adidas">Adidas</a></li>
                                <li class="name-trademark"><a href="/search?q=Puma">Puma</a></li>
                                <li class="name-trademark"><a href="/search?q=Mizuno">Mizuno</a></li>
                            </ul>
                        </nav>

                        <nav class="category">
                            <h3 class="trademark">Loại đinh</h3>
                            <ul class="list-trademark">
                                <li class="name-trademark"><a href="/searchbystyle?loaidinh=Cỏ+nhân+tạo">Cỏ nhân tạo</a></li>
                                <li class="name-trademark"><a href="/searchbystyle?loaidinh=Cỏ+tự+nhiên">Cỏ tự nhiên</a></li>
                            </ul>
                        </nav>

                        <nav class="category">
                            <h3 class="trademark">Lọc sản phẩm</h3>
                            <ul class="list-trademark">
                                {{#if searchbystyle}}
                                <li class="name-trademark"><a href="/sortbyprice?loaidinh={{searchName}}">Giá tăng dần</a></li>
                                <li class="name-trademark"><a href="/sortbypricedesc?loaidinh={{searchName}}">Giá giảm dần</a></li>
                                <li class="name-trademark"><a href="/mostsale?loaidinh={{searchName}}">Bán chạy nhất</a></li>
                                {{else}}
                                <li class="name-trademark"><a href="/sortbyprice?qr={{searchName}}">Giá tăng dần</a></li>
                                <li class="name-trademark"><a href="/sortbypricedesc?qr={{searchName}}">Giá giảm dần</a></li>
                                <li class="name-trademark"><a href="/mostsale?qr={{searchName}}">Bán chạy nhất</a></li>
                                {{/if}}
                            </ul>
                        </nav>
                    </div>

                    <div class="grid__column_10">
                        {{#each this.categories}}
                        <div class="grid__column_2">
                            <div class="home-product-item">
                                <div class="home-product-item-img" style="background-image: url(/img/{{productID}}/main.jpg)"></div>
                                <a href="product/view/{{productID}}" style="text-decoration: none"><h2 class="home-product-item-name">{{productName}}</h2></a>
                                <div class="home-product-item-price">{{format_number productPrice}}đ</div>>
                            </div>
                        </div>
                        {{/each}}                                           
                    </div>
                </div>   
            </div>
</div>